<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-show="isConnected">Salut, {{name}}</h1>
        <div v-if="isConnected" class="">
            <p>{{age}}</p>
            <p>{{bio}}</p>
        </div>
        <div class="">
            <div class="">
                <button v-on:click ="connexion" v-if="!isConnected" >Connect</button>
                <button v-on:click ="deconnection" v-else >Deconnect</button>
            </div>
            <button v-on:click ="augmenterAge">+</button>
            <button v-on:click ="diminuerAge">-</button>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>